nav {
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/783e3b0f-b68e-440e-a980-0e1c19cbe76c/e762d259-b33a-4e43-bcd6-e961c2072ec2/BY-en-20190318-popsignuptwoweeks-perspective_alpha_website_small.jpg");
}
.search-aria {
    width: 100%!important;
    background-color: black!important;
    border: 0;
    border-bottom: 2px solid #F85266;
}

.button-pink {
    background-color: #F85266;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
}

.button-black {
    background-color: #3C3B39;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
}

.search-button {
    left: -15px;
}

.search-button > button {
    background-color: #F85266;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
}


