body {
  font-family: sans-serif;
  margin: 0 0 0 0;
}
.hello {
  color: #72e1ff;
}
.header {
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/783e3b0f-b68e-440e-a980-0e1c19cbe76c/e762d259-b33a-4e43-bcd6-e961c2072ec2/BY-en-20190318-popsignuptwoweeks-perspective_alpha_website_small.jpg");
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #3C3B39;
  color: #F85266;
  text-align: left;
  font-weight: bold;
}